/* black-ops-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Black Ops One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/black-ops-one-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(10px);
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background: url(../images/bg-blur-img.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 400px;
  height: auto;
}

.cover {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.vioce-control {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.vioce {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  background: none;
  border: 0;
  color: #fff;
}

.audio-control {
  border-radius: 10px;
  padding: 5px;
  background: linear-gradient(rgba(251, 251, 253, 0.1), rgba(12, 12, 12, 0.1));
}

h1 {
  font-family: "Black Ops One", sans-serif;
  color: beige;
  font-size: 40px;
}

.title {
  font-family: "Ubuntu";
  color: azure;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.controls button {
  border: 0;
  background: inherit;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.controls button:hover {
  color: orange;
}

.controls button:nth-child(2) {
  background: #f7f2f2;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  color: black;
  border-radius: 50%;
  font-size: 35px;
}

.secTime {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #aeaaaa;
}

.duration {
  margin: 5px;
  height: 6px;
  background-color: aqua;
  border-radius: 10px;
}

.duration .progress {
  width: 0%;
  height: inherit;
  background-color: blue;
  border-radius: inherit;
  transition: 0.3s ease-in-out;
}
